.box{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: block;
    padding: 20px;
}

.image-box img{
    width: 40%;
    margin-top: 20px;
    display: block;
    border-radius: 20px;
    mix-blend-mode: color-burn;
    cursor: pointer;
}

button:hover{
    background-color: aqua;
}

.image-box a{
    font-size: 1.5em;
    text-decoration: none;
    margin-top: 30px;
    display: block;
}

header h2{
    text-align: center;
}

a:hover{
    background-color: blueviolet;
    width: 15%;
}
 
fieldset legend{
    text-align: center;
}

fieldset label{
    display: block;
    margin: 5px;
}

.Form{
    margin-top: 20px;

}

fieldset button{
    display: block;
    margin-top: 5px;
}